$lightGreen: #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            img {
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}